/* styles.css */
html{
}

body{
  margin:0;
  background-color: white;
  width: auto;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------------------ TITLE ------------------ */
h1{
  margin: 0.5rem 1rem;
}
.mini-title{
  font-size: 0.5rem;
}

/* ------------------ # RECOMMEND ------------------ */
.container-options{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
}

.option{
  margin-left: 1rem;
}

.container-numRecommend{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 135px;
  margin: 0;
  padding: 0;
}
#optionRecommend{
}
#inputRecommend{
  width: 40px;
  margin: 0;
  padding: 0;
}

.show-all-x {
  width: 120px;
  font-size: 0.6rem;
  font-weight: bold;
  background-color: #ccc;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

/* Styling for the toggled state (on) of the button */
.show-all-x[value="on"] {
  background-color: #007bff; /* Replace with your preferred color for the "on" state */
  color: #fff;
}
@media (max-width: 576px) {
  .option{
    margin: 0 0.6rem;
  }
  .show-all-x{
    width: 100px;
    padding: 10px 10px;
  }
}
@media (max-width: 430px) {
  .option{
    margin: 0 0.3rem;
  }
  .show-all-x{
    font-size: 0.5rem;
    width: 70px;
    padding: 10px 5px;
  }
}
@media (max-width: 320px) {
  .container-options{
    flex-direction: column;
    align-items: center;
  }
  .option{
    margin: 0.2rem 0;
  }
}

/* ------------------ HINTS ------------------ */
.list-hints li{
  font-size: 1rem;
  margin-top: 0.5rem;
}
@media (max-width: 576px) {
  .list-hints{
    padding-left: 0.5rem ;
  }
  .list-hints li{
    font-size: 0.8rem;
    color: blue;
  }
}

/* ------------------ BUTTONS ------------------ */
.container-select{
  width: 95%;
  display: flex;
  flex-direction: column;
  /* border: 2px solid gray; */
  border-radius: 10px;
  margin: 0.3rem 0;
}

.container-subtitle{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.subtitle{
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.1rem 1rem;
}
.expand, .expand2, .expand3{
  width: 40px;
  height: 13px;
}
.expand, .expand2{
    border: 1px solid black;
  background-color: rgba(150, 50, 0, 0.3);
  border-radius: 3px;
  text-align: center;
}
.expand{
  margin-right: 1rem;
}
.expand:hover{
  cursor: pointer;
}

.container-btns{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.btn-select {
  background-color: #FF5733;
  color: white;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  width: 90px;
  height: 35px;
  border-radius: 8px;
  text-align: center;
  font-size: 0.7rem;
}

.btn-select.on {
  background-color: #4CAF50;
}

@media (max-width: 576px) {
  .subtitle{
    font-size: 1rem;
    padding: 0.1rem 0.6rem;
  }
  .expand{
    margin-right: 0.6rem;
  }
  .btn-select {
    width: 70px;
    height: 35px;
    font-size: 0.6rem;
  }
}

/* ------------------ SEARCH ------------------ */
.container-search {
  display: flex;
  width: 100%;
  justify-content: center;
}

.search-btn {
  width: 100px;
  height: 40px;
  margin: 0.8rem 0;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.search-btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* ------------------ SEPARATOR ------------------ */
.separator{
  width: 100%;
  background-color: black;
  height: 2px;
  margin: 0.8rem 0;
}
@media (max-width: 576px) {
  .separator{
    height: 1px;
  }
}

/* ------------------ RESULTS ------------------ */
#container-results{
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin: 1rem 0;
}

.container-info{
  display: flex;
  flex-direction: column;
  width: 99%;
  margin: 0;
  padding: 0;
  align-items: center;
}

.results, .resultexample{
  display: flex;
  width: 100%;
}
.rslt-names{
  font-weight: bold;
}
.result-info{
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0.5rem 0;
}
.result-score1, .result-score2, .result-platform, .result-topic, .result-genre, .result-audience{
  font-size: 1.1rem;
  position: relative;
  margin: 0;
}
.result-score1, .result-score2{
  width: 70px;
}
.result-platform{
  width: 110px;
}
.result-topic{
  width: 140px;
}
.result-genre{
  width: 100px;
}
.result-audience{
  width: 75px;
}

.expand2, .expand3{
  width: 35px;
  font-size: 0.6rem;
}
.expand2:hover{
  cursor: pointer;
}

@media (max-width: 690px) {
  .result-score1, .result-score2, .result-platform, .result-topic, .result-genre, .result-audience{
    font-size: 1rem;
  }
  .result-score1, .result-score2{
    width: 50px;
  }
  .result-platform{
    width: 90px;
  }
  .result-topic{
    width: 120px;
  }
  .result-genre{
    width: 80px;
  }
  .result-audience{
    width: 35px;
  }
}

@media (max-width: 545px) {
  .result-score1, .result-score2, .result-platform, .result-topic, .result-genre, .result-audience{
    font-size: 0.8rem;
  }
  .result-score1, .result-score2{
    width: 30px;
  }
  .result-platform{
    width: 70px;
  }
  .result-topic{
    width: 90px;
  }
  .result-genre{
    width: 60px;
  }
  .result-audience{
    width: 30px;
  }
  .expand2, .expand3{
    width: 30px;
  }
}

@media (max-width: 430px) {
  .result-audience{
    width: 13px;
  }
  .expand2, .expand3{
    width: 15px;
    margin: 0 2px;
  }
}

/* ------------------ DEVELOPMENT ------------------ */

.results-dev{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.results-phase1, .results-phase2, .results-phase3{
  width: 33%;
}

@media (max-width: 945px) {
  .results-dev{
    flex-direction: column;
  }
  .results-phase1, .results-phase2, .results-phase3{
    width: 100%;
  }
}

.result-dev{
  display: flex;
  font-size: 0.8rem;
  flex-direction: row;
}
.result-dev-title{
  display: flex;
  font-size: 0.8rem;
  flex-direction: row;
  font-weight: bold;
}

.dev-name1, .dev-title1, .dev-name2, .dev-title2, .dev-name3, .dev-title3{
  margin: 0.5rem 0.5rem;
  width: 80px;
  text-align: center;
  border-radius: 2px;
  padding: 0.2rem;
}
.dev-title1{
  background-color: rgba(0, 140, 20, 0.7);
}
.dev-name1{
  background-color: rgba(0, 140, 20, 0.5);
}

.dev-title2{
  background-color: rgba(0, 100, 200, 0.7);
}
.dev-name2{
  background-color: rgba(0, 100, 200, 0.5);
}

.dev-title3{
  background-color: rgba(220, 100, 0, 0.7);
}
.dev-name3{
  background-color: rgba(220, 100, 0, 0.5);
}





.hidden{
  display: none;
}
